# Node & Electron-Vite
node_modules/
out/
dist/
dist-electron/
release/
build/
.env
.env.*
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# OS Files
.DS_Store
Thumbs.db


old.py