.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-bar {
    width: 100%;
    height: 33px;
    /* ? All the ui is actually going to scale by 1.25(because of my pc's screen scaling lol) so 33 will become 1.25 * 33 for me and i think this looks good enought lol*/
    padding-left: var(--os-based-titlebar-padding-left);
    background-color: var(--color-bg-title);
    display: flex;
    justify-content: start;
    align-items: center;
    app-region: drag;
}

.title-bar>.logo {
    height: 100%;
    width: auto;
    margin-left: 4px;
    padding: 8px;
}

.title-bar>.controls {
    height: 100%;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.title-bar>.controls>button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    app-region: no-drag
}

.title-bar>.controls>button:hover {
    background-color: var(--color-bg-app);
}

.title-bar>.controls>button.active {
    background-color: var(--color-bg-app);
}