/* ? Always use this class and add a a div element when you want to add a global menu to remove our context menu */
.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 999998
}

/* Context Menu Container */
.context-menu {
    position: absolute;
    background-color: var(--color-bg-title);
    border: 1px solid var(--color-border);
    padding: 4px 0;
    min-width: 180px;
    z-index: 999999;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); */
    border-radius: 4px;
}

.context-menu.submenu {
    position: absolute;
    top: -4px !important;
    /* Align with parent item */
}

/* Individual Items */
.menu-item {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 13px;
    color: var(--color-text-primary);
    position: relative;
}

.menu-item:hover {
    background-color: var(--color-accent);
}

.menu-label {
    flex-grow: 1;
}

.menu-shortcut {
    color: var(--color-text-secondary);
    font-size: 11px;
    margin-left: 20px;
}

.menu-arrow {
    font-size: 10px;
    margin-left: 10px;
    color: var(--color-text-secondary);
}

/* Divider */
.menu-divider {
    border: 1px solid var(--color-divider);
    margin: 4px 0;
}